.slide-cart {
  position: fixed;
  width: 380px;
  height: 100vh;
  padding: 30px;
  right: 0;
  top: 0;
  background-color: #fff;
  z-index: 2;
  box-shadow: 0 0 10px #524d4d;
  transition: 0.5s;
}

.slide-cart_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.slide-cart_top img {
  width: 30px;
  cursor: pointer;
}

.slide-cart_title {
  font-size: 30px;
  margin: 0;
}

.slide-cart_content {
  display: grid;
  grid-template-rows: repeat(auto-fill, 200px);
  grid-row-gap: 20px;
  height: 80%;
  margin-bottom: 20px;
  overflow-y: scroll;
}

.slide-cart_checkout {
  padding-top: 20px;
  border-top: 1px solid #b9b9b9;
}

.slide-cart_checkout-btn {
  width: 100%;
  padding: 10px 20px;
  border: none;
  background-color: #47974e;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
}

.slide-cart_total {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.slide-cart_total-title {
  margin: 0;
  margin-right: 20px;
  font-size: 28px;
}

.slide-cart_total-price {
  font-size: 28px;
}
