.cart-item {
  display: flex;
  height: 200px;
  &_image {
    min-width: 150px;
    width: 150px;
    margin-right: 10px;
  }
  &_info {
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  &_name {
    font-size: 20px;
    margin: 0;
  }
  &_price,
  &_quantity {
    font-size: 18px;
  }
  &_quantity {
    max-width: 100px;
    width: 100px;
    display: flex;
    justify-content: space-between;
  }
  &_quantity-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background-color: #fff;
    border: 1px solid #000;
    cursor: pointer;
  }
  &_remove {
    cursor: pointer;
  }
}
